scripts/deeplab/datasets
scripts/oracle
scripts/superpixels
scripts/deeplab/models
scripts/stream_segment/result
scripts/stream_segment/result_old

bash_files/logs
bash_files/region_index
bash_files/batch_log
bash_files/accuracy_log
bash_files/outputs
bash_files/class_to_region_idx
bash_files/region_uncertainty


scripts/stream/result
test_adptive
test2



my_projects/activation/explore_activation/data
my_projects/activation/explore_activation/result
my_projects/activation/get_activation

my_projects/activation/pretrain_activation/data
my_projects/activation/pretrain_activation/result
my_projects/activation/pretrain_activation/results
my_projects/activation/pretrain_activation/results_back
my_projects/activation/results